# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules/

# Environment Variables
/.env.staging
/.env.production

# Logs
/yarn-debug.log*
/yarn-error.log*

# Editors
/.vscode/
/.idea/*

# Misc
/.DS_Store

# Keys
/action-callback-bots.pem
